/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}


.mb-1 {
	margin-bottom: 38px;
}

.mb-2 {
	margin-bottom: 60px;
}

.mb-3 {
	margin-bottom: 30px;
}

.fz-1 {
	font-size: 16px;
}

.fz-2 {
	font-size: 20px;
}

.fz-3 {
	font-size: 24px;
}

.wrap {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
}

.wrap-2 {
	width: 940px;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 36px;
}

.logo {
	height: 40px;
	width: 200px;
}

.header ul {
	display: flex;
	list-style: none;
	margin-top: 36px;
}

.mr-1 {
	margin-right: 60px;
}

.header ul a {
	padding: 5px 10px 5px 10px;
	text-decoration: none;
	display: block;
	color: #3F5D45;
}

.header ul a:hover {
	border-bottom: 2px solid #3F5D45;
}

.content {
	display: flex;
	justify-content: space-between;
}

.dessert {
	width: 300px;
	text-align: center;
}

.dessert li {
	height: 65px;
	line-height: 65px;
}

.bg-1 {
	background-color: #3F5D45;
	color: #EAF0ED;
	display: block;
	text-decoration: none;
}

.colorGreen {
	display: block;
	text-decoration: none;
	color: #3F5D45;
	border: 1px solid #EAF0ED;
}

.colorGreen:hover {
	background-color: #EAF0ED;
}

.dessertTwo {
	width: 620px;
	display: flex;
	flex-wrap: wrap;
}

.dessert-item {
	width: 300px;
	display: flex;
	flex-direction: column;
	padding-bottom: 20px;
}

.pr-1 {
	padding-right: 20px;
}

.dessert-detail {
	display: flex;
}

.dessertCommon {
	text-align: center;
	border-right: 1px solid #EAF0ED;
	padding: 14px 0 14px 0;
	color: #3F5D45;
}

.name {
	width: 173px;
	border-left: 1px solid #EAF0ED;
	font-weight: lighter;
}

.price {
	width: 127px;
}

.toCart {
	width: 300px;
	text-align: center;
	padding: 16px 0 16px 0;
	background-color: #EAF0ED;
	color: #3F5D45;
}

.num a {
	display: block;
}

.num {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	text-align: center;
}

.num-1 {
	width: 60px;
	height: 60px;
	line-height: 60px;
	font-weight: lighter;
}

.num-1>a {
	text-decoration: none;
	color: #3F5D45;
}

.num-1>a:hover {
	background-color: #3F5D45;
	color: #EAF0ED;
}

.border,
.border-2 {
	border-top: 1px solid #EAF0ED;
	border-bottom: 1px solid #EAF0ED;
}

.border-2 {
	border-right: 1px solid #EAF0ED;
}

.arrow {
	width: 60px;
	height: 60px;
	line-height: 70px;
	border: 1px solid #EAF0ED;
}

.subscribe {
	margin: 0 auto;
	height: 116px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #3F5D45;
}

.subscribe-logo {
	width: 40px;
	height: 40px;
	margin-right: 20px;
}

.subscribe>p {
	color: #EAF0ED;
}

.mail {
	width: 380px;
	height: 56px;
	display: flex;
	background-color: #EAF0ED;
	margin-left: 124px;
}

.mail img {
	padding: 16px 24px;
	width: 24px;
	height: 24px;
}

input {
	width: 312px;
	background-color: #EAF0ED;
	border: none;
}

.mailArrow {
	background-color: #FFE180;
}


.info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #EAF0ED;
}

.info-detail {
	display: flex;
	padding-top: 30px;
}

.adress {
	margin-right: 495px;
}

.infoLogo {
	width: 171px;
	height: 26px;
}

.adress>ul {
	margin-top: 115px;
	color: #3F5D45;
}

.slogan {
	writing-mode: vertical-rl;
	text-orientation: upright;
}

.slogan>p,
blockquote {
	line-height: 30px;
	color: #3F5D45;
}

blockquote {
	padding-top: 11px;
}

.info-2 {
	display: flex;
	align-items: center;
	margin-top: 30px;
	color: #3F5D45;
}

.icon {
	margin-right: 400px;
}

.icon>img {
	width: 32px;
	height: 32px;
}