/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;}


.box {
  max-width: 1000px;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 20px;
  margin-bottom: 24px;
}


ul{
  display: flex;
  flex-wrap: wrap;
  margin-top: 12px;
}

.header-link{
  padding: 10px;
  color: white;
  background-color: #3399FF;
  text-decoration: none;
  font-weight: bold;
  display: block;
  text-align: center;
}

.content{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}


.text{
  margin-top: 2.5%;
  padding: 1%;
  border: 2px solid black;
  width: 75%;
}

h2{
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 3%;
}

.text p{
  margin-bottom: 3%;
}

.pic{
  width: 20%;
  border: 2px solid black;
  padding: 5px;
  margin-top: 2.5%;
}

.pic img{
  max-width: 100%;
  margin-bottom: 10px;
}

.footer{
  margin: 0 auto;
  text-align: center;
}

@media (max-width:768px){
  .header{
    flex-direction: column;
    align-items: center;
  }

  .logo{
    margin-bottom: 30px;
  }

  .header li{
    width: 50%;
    margin: 0 auto 10px auto;
  }

  .text, .pic{
    width: 100%;
  }

  .pic>img{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 10px;
  }

}